<meta charset='utf-8'>
<meta name='viewport' content='width=device-width, initial-scale=1'>
<meta property="og:image" content="<url>" />
<meta property="og:image:type" content="assets/img/perfil.jpeg" />
<meta property="og:image:width" content="1200" />
<meta property="og:image:height" content="630" />

{{- $description := partialCached "data/description" . .RelPermalink -}}
<meta name='description' content='{{ $description }}'>

{{- $title := partialCached "data/title" . .RelPermalink -}}
<title>{{ $title }}</title>

<link rel='canonical' href='{{ .Permalink }}'>

{{- partial "head/style.html" . -}}
{{- partial "head/script.html" . -}}
{{- partial "head/opengraph/include.html" . -}}

{{- range .AlternativeOutputFormats -}}
    <link rel="{{ .Rel }}" type="{{ .MediaType.Type }}" href="{{ .Permalink | safeURL }}">
{{- end -}}

{{ with .Site.Params.favicon }}
    <link rel="shortcut icon" href="{{ . }}" />
{{ end }}

{{- template "_internal/google_analytics_async.html" . -}}
{{- partial "head/custom.html" . -}}
